---
layout: default
---

<div class="text-center"> {{ page.title }} </div>

{{ content }}

<div class="container-fluid flex">
  {% for post in site.posts %}
  <div class="col-md-12 col-sm-12 col-xs-12 flex">
    <div class="group-box" style="padding: 1em;">
      <a href="{{ post.url }}">
        <h3 style="margin-top: 10px">{{ post.title }}</h3>
      </a>
      {% if post.excerpt %}
      {{ post.excerpt }}
      {% else %}
      {{ t.frontpage[page_language].description }}
      {% endif %}

      <a href="{{ post.url }}">
        <button title="Click to read more" class="btn btn-md btn-primary pull-right shadow">
          Read More &nbsp <i class="fa fa-chevron-right icon"></i>
        </button>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
